<app-header></app-header>
<!-- Product section-->
<section class="py-5" style="margin-top: 60px;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" height="500px" [src]="product.image" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">{{product._id}}</div>
                <h1 class="display-5 fw-bolder" style="overflow-y: hidden;">{{product.title}}</h1>
                <div class="fs-5 mb-5">
                    <span>{{product.price}}</span>
                </div>
                <p style="text-align: justify;"><span class="fw-bolder">Description :{{product.description}}</span></p>
                <div class="d-flex justify-content-between">
                
                    <button (click)="addToWishList(product)" class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="fa-solid fa-heart text-danger me-1 text-danger"></i>
                        Add to Wishlist
                    </button>
                    <button class="btn btn-outline-dark flex-shrink-0" (click)="addToCart(product)" type="button">
                        <i class="fa-solid fa-cart-shopping me-1 text-success"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>