<app-header></app-header>
<div style="margin-top: 80px;" class="d-flex justify-content-center align-items-center flex-column w-100">
    <div class="Delivery w-50 mt-5"> 
        <h1 style="overflow-y: hidden;">Delivery Details</h1>
        <form class="border p-4 mb-5">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter the username">
              </div>
              
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Apartment /Flat No</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter the apartment / flat no">
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Place</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter the place">
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Pincode</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter pincode">
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <button class="btn btn-warning">Cancel</button>
                <button class="btn btn-success">Proceed to Buy</button>
              </div>
        </form>
    </div>
</div>